<template name="MainLayout">
<header>
    <div class="back-btn">
        <a class="btn-floating btn-large green darken-2">
            <i class="large material-icons">arrow_back</i>
        </a>
    </div>

    <div class="navbar-fixed">
        <nav class="top-nav">
            <div class="nav-wrapper">
                <div class="title-wrapper left">
                {{> yield "title"}}
                </div>
                {{#if showCampaigns}}
                    {{> Campaigns }}
                {{else}}
                    {{> ContestGroups }}
                {{/if}}
            </div>
        </nav>
    </div>

    <ul class="side-nav fixed">
        <li class="logo">
            <span id="logo-container" class="brand-logo"><img src="/logo.svg" class="spbstu-logo" alt=""/></span>
        </li>

        {{> Navigation }}
    </ul>
</header>

<main>
    <div id="main" class="row">
        {{> yield}}
    </div>
</main>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Информация обновляется один раз в сутки.<br/> Последнее обновление {{ lastUpdate }}</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">2018 СПбПУ, Приёмная комиссия</div>
    </div>
</footer>
</template>
