header, main, footer
  padding-left 240px

.warn
  padding 3px 5px
  color #FFF

.logo
  text-align center
  padding-top 16px !important
  margin-bottom 32px
  border-bottom 1px solid #ddd

#logo-container
  margin-bottom: 16px;

.spbstu-logo
  height 64px

.group-title
  margin-top 1rem
  margin-left 7.333%

tr.first
  border-top solid 1px #999

.table-int
  padding 15px
  text-align right

th[data-field='faculty']
  width 25%

.data-row_active
  cursor pointer
  transition background .3s

  &:hover
    color #000 !important
    background #81d4fa !important
