$sideNavWidth = 240px
$innerPageOffset = 20px

header
main
footer
  transition padding-left .5s
  padding-left $sideNavWidth

  .inner-page &
    padding-left $innerPageOffset

.side-nav
  width $sideNavWidth
  transition left .5s

  .inner-page &
    left - (@width - $innerPageOffset)

.back-btn
  position fixed
  left 40px
  top -55px
  z-index 999
  transition top .5s .5s

  .inner-page &
    top 35px

.warn
  padding 3px 5px
  color #FFF

.logo
  text-align center
  padding-top 16px !important
  margin-bottom 32px
  border-bottom 1px solid #ddd

#logo-container
  margin-bottom: 16px;

.spbstu-logo
  height 64px

.group-title
  margin-top 1rem
  margin-left 7.333%

.title-wrapper
  box-sizing border-box
  width 50%
  padding-left 60px

.navbar-fixed nav
  width auto
  right 0
  left $sideNavWidth
  transition left .3s
  
  .inner-page &
    left 0

tr.first
  border-top solid 1px #999

.table-int
  padding 15px
  text-align right

th[data-field='faculty']
  width 25%

.data-row_active
  cursor pointer
  transition background .3s

  &:hover
    color #000 !important
