<template name="Group">
    {{#contentFor "title"}}
    <h6 class="group-title">
        {{group.faculty}}, {{group.title}}<br>
        {{group.educationForm}}, {{group.paymentForm}}
    </h6>
    {{/contentFor}}
    {{#if showRatingOrExam group}}
        {{#if phd}}
            {{> RatingPhdGroup persons=persons}}
        {{else}}
            {{> RatingMainCampaignGroup persons=persons}}
        {{/if}}
    {{else}}
        {{#if phd}}
            {{> PhdGroup persons=persons}}
        {{else}}
            {{> MainCampaignGroup persons=persons}}
        {{/if}}
    {{/if}}
</template>