<template name="Group">
    {{#contentFor "title"}}
    <h6 class="group-title">
        {{group.faculty}}, {{group.title}}<br>
        {{group.educationForm}}, {{group.paymentForm}}
    </h6>    
    {{/contentFor}}
    {{#if showDescText group }}
        <div class="col s10 offset-s1 "><div class="card blue-grey darken-1"><div class="card-content white-text">
            {{group.descText}}
        </div></div></div>
    {{/if}}
    {{#if showRatingOrExam group}}
        {{#if phd}}
            {{> RatingPhdGroup persons=persons}}
        {{else}}
            {{> RatingMainCampaignGroup persons=persons}}
        {{/if}}
    {{else}}
        {{#if phd}}
            {{> PhdGroup persons=persons}}
        {{else}}
            {{> MainCampaignGroup persons=persons}}
        {{/if}}
    {{/if}}
</template>