$sideNavWidth = 280px
$innerPageOffset = 20px

html
    font-family Ubuntu, Arial, Helvetica, sans-serif

header
main
footer
  transition padding-left .5s
  padding-left $sideNavWidth

  .inner-page &
    padding-left $innerPageOffset

.side-nav
  width $sideNavWidth
  transition left .5s

  .inner-page &
    left - (@width - $innerPageOffset)

.back-btn
  position fixed
  left 40px
  top -55px
  z-index 999
  transition top .5s .5s

  .inner-page &
    top 35px


.warn
  padding 3px 5px
  color #FFF

.shadow
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 9999
  background rgba(#FFF, .76)

.logo
  text-align center
  padding-top 16px !important
  margin-bottom 32px
  border-bottom 1px solid #ddd

#logo-container
  margin-bottom: 16px;

.spbstu-logo
  height 64px

.group-title
  margin-top 1rem
  margin-left 7.333%

.title-wrapper
  box-sizing border-box
  width 40%
  padding-left 60px

.navbar-fixed nav
  width auto
  right 0
  left $sideNavWidth
  transition left .3s
  
  .inner-page &
    left 0

.data-table-wrapper
  margin 0 40px

.groups-counter
  position relative
  top -.3em
  font-size .7em

tr.first
  border-top solid 1px #999

.table-int
  padding 15px
  text-align right

th[data-field='faculty']
  width 25%

.data-row_active
  cursor pointer
  transition background .3s

  &:hover
    color #000 !important

.rating-table
  th + th
    border-left solid 1px #d0d0d0
    padding-left 20px
    padding-right 20px
  thead
    tr:nth-child(even)
      th
        border-top solid 1px #d0d0d0

.group-table
    table
        border: #ccc solid 1px;
    th
        font-size: 12pt
        border: #ddd solid 1px;
        padding: 5px;
        text-align: center;
    td
        border: #ddd solid 1px;


.upload-form
  .btn
    position static
    float left
    width 260px

  .file-path-wrapper
    overflow hidden
    padding-left 10px

  input.file-path
    margin-left 0
    width 100%

nav
    background-color: #46c765
footer.page-footer
    background-color: #46c765
    
.dropdown-content li > a, .dropdown-content li > span
    color: #00aa00