<template name="MainLayout">
<header>
    <div class="navbar-fixed">
        <nav class="top-nav">
            <div class="row">
                <h5 class="col s10 offset-s1">
                    <a href="/" class="">{{> yield "title"}}</a>
                </h5>
            </div>
        </nav>
    </div>

    <ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
        <li class="logo">
            <a id="logo-container" href="/" class="brand-logo"><img src="/logo.svg" class="spbstu-logo" alt=""/></a>
        </li>

        {{> Navigation }}
    </ul>
</header>

<main>
    <div id="main" class="row">
        {{> yield}}
    </div>
</main>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Информация обновляется один раз в сутки</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">2015 СПбПУ, Приёмная комиссия</div>
    </div>
</footer>
</template>
