<template name="Navigation">
    {{#each items.filters}}
        <li class="row">
            <div class="input-field col s12">
                <select name="{{name}}">
                    {{#each values}}
                        <option value="{{k}}" {{selectedAttr k ../currentValue}}>{{v}}</option>
                    {{/each}}
                </select>
                <label>{{title}}</label>
            </div>
        </li>

    {{/each}}
    <li class="row white"><div class="col s12"><button class="reset-filter btn grey">Сбросить фильтр</button></div></li>
</template>
