<template name="Statistic">
    <ul class="collapsible" data-collapsible="accordion">
    {{#each rows}}
        <li>
            <div class="collapsible-header"><h5 class="faculty-name">{{faculty}}</h5></div>
            <div class="collapsible-body">
                <div class="data-table-wrapper">
                    <table class="data-table striped">
                        <thead>
                        <tr>
                            <th data-field="title">Направление</th>
                            <th data-field="form">Форма обучения</th>
                            <th data-field="payment">Бюджет/Контракт</th>
                            <th data-field="graduate">Базовое образование</th>

                            {{#if showCounters}}
                            <th data-field="planned">План</th>
                            <th data-field="applicationsCount">Заявлений</th>
                            <th data-field="docsCount">Оригиналов</th>
                            {{/if}}
                        </tr>
                        </thead>
                        <tbody>
                        {{#if hasGroups groups }}
                            {{#each groups}}
                            <tr class="data-row{{#if isActive}} data-row_active hoverable grey-text text-darken-4{{else}} grey-text text-darken-1{{/if}}" data-groupid="{{groupId}}">
                                <td>{{title}}</td>
                                <td>{{educationForm}}</td>
                                <td>{{paymentForm}}</td>
                                <td>{{educationLevel}}</td>

                                {{#if showCounters}}
                                <td class="table-int">{{planned}}</td>
                                <td class="table-int"><span class="{{#if warn}}warn z-depth-1 red darken-4{{/if}}">{{applicationsCount}}</span></td>
                                <td class="table-int">{{docsCount}}</td>
                                {{/if}}
                            </tr>
                            {{/each}}
                        {{else}}
                            <tr>
                                {{#if showCounters}}
                                <td colspan="7">Не найдено групп, соответствующих критерию фильтра</td>
                                {{else}}
                                <td colspan="4">Не найдено групп, соответствующих критерию фильтра</td>
                                {{/if}}
                            </tr>
                        {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
    {{else}}
    <li>
        <h6>Записей не найдено</h6>
    </li>
    {{/each}}
    </ul>

    {{#contentFor "title"}}<h5 class="col offset-s1">{{pageTitle}}</h5>{{/contentFor}}
</template>