<template name="Statistic">
    <ul class="collapsible" data-collapsible="accordion">
    {{#each rows}}
        <li>
            <div class="collapsible-header {{expandIfOnlyOneGroup rows}}"><h5 class="faculty-name">{{faculty}}</h5></div>
            <div class="collapsible-body">
                <div class="data-table-wrapper">
                    {{#if mainCampaign}}
                        {{> MainCampaign this}}
                    {{else}}
                        {{> College this}}
                    {{/if}}
                </div>
            </div>
        </li>
    {{else}}
    <li>
        <h6>Записей не найдено</h6>
    </li>
    {{/each}}
    </ul>

</template>