<template name="BackstageUpload">
<h2>Загрузка файлов</h2>

<form action="#" class="upload-form">
    <div class="row">
        <div class="file-field input-field col s8">
            <div class="btn">
                <span>Конкурсные группы</span>
                <input type="file" id="groups" />
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <div class="col s3 offset-s1">
            {{# if groupsProgress }}
            <h5>Обработано {{ groupsProgress }}%</h5>
            {{/ if }}
        </div>
    </div>

    <div class="row">
        <div class="file-field input-field col s8">
            <div class="btn">
                <span>Контрольные цифры</span>
                <input type="file" id="counters" />
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <div class="col s3 offset-s1">
            {{# if countersProgress }}
            <h5>Обработано {{ countersProgress }}%</h5>
            {{/ if }}
        </div>
    </div>

    <div class="row">
        <div class="file-field input-field col s8">
            <div class="btn">
                <span>Список абитуриентов</span>
                <input type="file" id="abiturients" />
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <div class="col s3 offset-s1">
            {{# if abiturientsProgress }}
            <h5>Обработано {{ abiturientsProgress }}%</h5>
            {{/ if }}
        </div>
    </div>
</form>
</template>